#notes {
    background-color: rgb(237, 215, 194);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border: 5px solid rgb(188, 133, 130);
    opacity: 0.75;
}

.notes-row {
    border-bottom: 1px solid black;
    width: 100%;
}

.btn-maroon {
    background-color: maroon !important;
    color: white !important;
}

