#water-intake {
    background-color: rgb(237, 215, 194);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border: 5px solid rgb(188, 133, 130);
    opacity: 0.75;
}

.tear {
    width: 30px;
    height: 30px;
    border-radius: 0 50% 50% 50%;
    border: 3px solid rgb(129, 127, 102);
    transform: rotate(45deg);
    margin: 5px;
}