.time {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 20%;
}

.task {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 70%;
}

.save {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 5%; 
}

.delete {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 5%; 
}

#today-schedule {
    background-color: rgb(237, 215, 194);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    border: 5px solid rgb(188, 133, 130);
    opacity: 0.75;
}

.fa-save {
    color: #2E76CF;
}

.fa-save:hover {
    color: #173b67;
}

.fa-save:active {
    color: black;
}

.fa-trash-alt {
    color: darkred;
}

.fa-trash-alt:hover {
    color: rgb(58, 1, 1);
}

.fa-trash-alt:active {
    color: black;
}

.test {
    background-color: rgba(216, 240, 216, 0.76)
}